-var cat = ['Полотенца','Покрывала','Подушки','Одеяла','Постельное белье'];
-var count = ['23','11','5','45','3'];
-var img = ["https://kari-san.com/image/cache/catalog/category/category3-280x280.png","https://kari-san.com/image/cache/catalog/category/category2-280x280.png","https://kari-san.com/image/cache/catalog/category/category1-280x280.png","https://kari-san.com/image/cache/catalog/category/category4-280x280.png","https://kari-san.com/image/cache/catalog/category/category5-280x280.png"];
-var img_hover = ["https://kari-san.com/image/cache/catalog/category/category_hover1-280x280.png","https://kari-san.com/image/cache/catalog/category/category_hover2-280x280.png","https://kari-san.com/image/cache/catalog/category/category_hover3-280x280.png","https://kari-san.com/image/cache/catalog/category/category_hover4-280x280.png","https://kari-san.com/image/cache/catalog/category/category_hover5-280x280.png"];
-var price = ["345","324","234","167","290"]
.container.no-padding
  .row.no-gutters
    .col-lg-4.col-md-3.col-xs-12
      #dots-1
    .col-lg-4.col-md-3.col-xs-12
      h2.cart-slider-header Новинки
    .col-lg-4.col-md-3.col-xs-12
      #arrows-1
  .row.no-gutters.mr-15
      .cart-slider#cart-slider-1
        each val,index in count
           .cart-item
              .cart-item__box
                img(src=img[index], alt=cat[index]).cart-item__img
                .cart-item__description= cat[index]
                .cart-item__price
                  span Розничная цена
                  .price=price[index] + " Грн"
                .cart-item__bar
                  a(href="#").fav
                    i.zmdi.zmdi-favorite
                  a(href="#").add
                    i.zmdi.zmdi-shopping-cart
                  a(href="#").buy Buy now
.container.no-padding
  .row.no-gutters
    .col-lg-4.col-md-3.col-xs-12
      #dots-2
    .col-lg-4.col-md-3.col-xs-12
      h2.cart-slider-header Популярное
    .col-lg-4.col-md-3.col-xs-12
      #arrows-2
  .row.no-gutters.mr-15
      .cart-slider#cart-slider-2
        each val,index in count
           .cart-item
              .cart-item__box
                img(src=img[index], alt=cat[index]).cart-item__img
                .cart-item__description= cat[index]
                .cart-item__price
                  span Розничная цена
                  .price=price[index] + " Грн"
                .cart-item__bar
                  a(href="#").fav
                    i.zmdi.zmdi-favorite
                  a(href="#").add
                    i.zmdi.zmdi-shopping-cart
                  a(href="#").buy Buy now
